:root {
    --white: #FFF;
    --light-white: #dedede;
    --form: #eee;
    --black: #000;
    --sliver-main: #988e9f;
    --even-sections: #f9f9f9;
    --main-color: #5918df;
}

::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}

::selection {
    background: rgba(166, 175, 189, 0.3);
}

::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    line-height: normal;
    overflow: hidden;
    overflow-x: hidden !important;
    color: var(--white);
    font-size: 16px;
}

.scrollbar-show {
    overflow: visible;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    text-decoration: none;
    color: var(--white);
}

.collapse:not(.show) {
    display: none;
}

img {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.container-fluid {
    padding: 0px;
}

.row {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#cnt-portfolio {
    overflow: hidden;
}

#cnt-portfolio-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

#cnt-portfolio-wrapper, #cnt-portfolio, #header-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#header-portfolio {
    height: 100vh;
    background-color: #282828;
    color: var(--white);
    position: relative;
}

#header-portfolio img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    /*filter: contrast(120%) grayscale(100%);*/
}

.shadow-img-portfolio {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: linear-gradient(to bottom, transparent 0, rgba(16, 16, 16, .99) 100%);*/
    background: rgba(0, 0, 0, 0.6);
}

#contact-portfolio-wrapper .shadow-img-portfolio {
    background: rgba(0, 0, 0, 0.8);
}

figure .shadow-img-portfolio {
    background: transparent;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#header-portfolio-wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    position: fixed;
    padding-top: 30px;
    padding-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 10001;
    left: 0;
    top: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

/* Particles JS*/
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
}

#header-portfolio-wrapper .container {
    padding: 0px;
}

#wrapper-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#logo-name-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#logo-name-portfolio {
    font-size: 28px;
    padding: 10px;
    margin-left: -10px;
}

#logo-name-portfolio a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
}

#logo-name-portfolio span {
    color: var(--main-color);
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-items {
    text-transform: uppercase;
    font-size: 14px;
}

.nav-items a {
    padding: 10px 15px;
    margin: 5px 10px;
    display: block;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    position: relative;
    color: var(--light-white);
}

.nav-items a:hover::before {
    background-color: var(--main-color);
    height: calc(80% - 20px);
}

.nav-items a:hover {
    color: var(--white);
}

.nav-items a::before {
    bottom: 30%;
    width: calc(100% - 30px);
    height: 0px;
    content: "";
    background-color: transparent;
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#about, #career, #works, #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

#works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #14121c;
}

#contact {
    background-color: var(--even-sections);
}

#contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    overflow: hidden;
}

/*
#career::before {
    content: "CAREER";
    font-family: 'Roboto Mono', monospace;
    font-size: 15rem;
    font-weight: 700;
    color: #221d35;
    position: absolute;
    right: -30px;
}
*/
.full-space {
    width: 100%;
}

#header-portfolio-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -5%;
    font-family: 'Roboto Condensed', sans-serif;
}

#header-main-subtitle, .header-main-title, #about-portfolio .bullet h5, #career-portfolio .bullet h5 {
    font-size: 20px;
    color: var(--sliver-main);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
}

#header-main-subtitle {
    margin-bottom: 30px;
}

#header-portfolio-title .timeline {
    height: 100vh;
}

#header-portfolio-title .bullet::before {
    background-color: #1b191e;
    top: 0;
}

.timeline {
    width: 1px;
    height: 100%;
    left: -30px;
    top: 0px;
    z-index: 9;
    position: absolute;
    background-color: var(--main-color);
}

.bullet, .bullet::before {
    position: absolute;
}

.bullet::before {
    content: "";
    left: -4px;
    top: 40px;
    z-index: 10;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    background-color: var(--white);
}

#about-portfolio .bullet::before, #career-portfolio .bullet::before {
    background-color: #1a1527;
}

#about-portfolio .bullet, #career-portfolio .bullet {
    position: relative;
}

#about-portfolio .bullet h5, #career-portfolio .bullet h5 {
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    top: 35px;
    left: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.career-portfolio-wrapper .bullet {
    position: absolute !important;
    left: 0;
}

.header-main-title {
    color: var(--white);
    font-weight: 700;
    font-size: 3rem;
}

.header-main-title span {
    color: var(--main-color);
    position: relative;
}

.header-main-title span.italic-main {
    font-weight: 400;
    font-style: italic;
    color: inherit;
    font-family: Georgia;
}

#header-main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 2;
}

#header-main-arrow-mobile {
    margin-top: 30px;
    font-size: 24px;
    cursor: pointer;
    padding-bottom: 10px;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease;
}

#header-main-arrow-mobile .icon-angle-double-down {
    -webkit-animation: angle-double-down 2s infinite ease-out;
            animation: angle-double-down 2s infinite ease-out;
    display: block;
}
/*
#button-main-portfolio {
    display: flex;
    justify-content: center;
}

#button-main-portfolio a {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 12px 20px;
    margin-top: 20px;
    text-transform: uppercase;
    transition: .3s;
}

#button-main-portfolio a:hover {
    background: var(--shadow-main-color);
    border: 1px solid var(--shadow-main-color);
    transition: .3s;
}

.icon-angle-double-down {
    animation: angle-double-down 2s infinite ease-out;
    display: block;
}
*/

#header-main-arrow {
    position: relative;
    cursor: pointer;
    left: -90px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: block;
}

#header-main-arrow span {
    z-index: 9;
    color: var(--sliver-main);
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

#header-main-arrow span:hover {
    color: var(--light-white);
}

.row-scroll {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.scroll-down {
    position: absolute;
    bottom: 70px;
    z-index: 100;
}

#about-portfolio, #career-portfolio, #works-portfolio, #works-portfolio-second, #about-portfolio, #contact-portfolio  {
    padding: 100px 0px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    position: relative;
}

#about-portfolio {
    padding: 130px 50px !important;
}

#works-portfolio, #career-portfolio {
    padding-bottom: 0px !important;
}

#career-portfolio {
    padding-top: 75px !important;
}

#about-portfolio {
    padding-bottom: 75px !important;
}

#works-portfolio-second {
    padding-top: 0px !important;
    padding-bottom: 130px !important;
}

#works-portfolio-second {
    padding: 0px 10px;
    margin-top: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 1900px;
}

#cnt-about-portfolio {
    margin-bottom: 50px;
    width: 100%;
}

#info {
    background: -webkit-gradient(linear,left top, left bottom,from(#13101b),color-stop(88%, #0f0d18),color-stop(99%, #0c0b12));
    background: -o-linear-gradient(top,#13101b,#0f0d18 88%,#0c0b12 99%);
    background: linear-gradient(-180deg,#13101b,#0f0d18 88%,#0c0b12 99%);
    /*linear-gradient(-180deg,#1a1527,#0e0c16 88%,#0e0c16 99%);*/
}

.no-margin {
    margin: 0px;
}

#cnt-about-portfolio, #cnt-main-about, #photo-wrapper, #about-info-portfolio, #cnt-about-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#cnt-about-skills {
    margin-top: 50px;
    width: 100%;
}

#cnt-about-skills .row {
    margin: 0px;
}

#cnt-main-about {
    position: relative;
    padding: 0px;
}

#photo-about {
    z-index: 5;
    position: relative;
}

#photo-about img {
    width: 100%;
}

#transparent-photo-about {
    content: "";
    position: absolute;
    top: -20px;
    left: 20px;
    bottom: -20px;
    right: -20px;
    border: 7px solid rgba(255, 255, 255, 0.55);
    background: transparent;
    z-index: -1;
}

#description-about-portfolio {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px;
}

#social-media-about-portfolio, #social-media-contact-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -10px;
}

#social-media-contact-portfolio .social-media a {
    border: none;
}

#titile-about, #title-career, #title-works, #title-contact {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#title-career, #title-works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 0px;
}

.career-portfolio-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
}

.career-portfolio-section:last-child {
    padding-bottom: 0px;
}

.career-portfolio-section .bullet::before {
    width: 15px !important;
    height: 15px !important;
    background-color: var(--main-color) !important;
    left: -7px !important;
    top: 0px !important;
}

#titile-about::after, #title-contact::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    background: var(--main-color);
    height: 1px;
    width: 70px;
}

#title-contact {
    font-size: 38px;
    font-weight: 700;
    display: inline-block;
    border-bottom: 1px solid var(--light-white);
}

#title-career h2, #title-works h2 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
}

#title-career h2::before, #title-works h2::before {
    bottom: 20%;
    width: 100%;
    height: 30%;
    content: "";
    background-color: var(--main-color);
    position: absolute;
    z-index: -1;
}

#subtitle-career, #subtitle-works {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

#about-info-portfolio {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: -25px;
    margin-top: 30px;
}

#about-me-portfolio p {
    font-family: 'Muli', sans-serif;
    line-height: 1.8;
    font-size: 16px;
    color: var(--light-white);
    text-align: justify;
}

.menu-info {
    padding: 0px 20px;
    margin-bottom: 30px;
    min-width: 33%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 15px;
    font-family: 'Muli', sans-serif;
}

.menu-info i {
    color: var(--main-color);
    margin-right: 5px;
}

.social-media {
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 7px;
    border-radius: 50%;
    font-size: 16px;
}

.social-media a, .works-icons {
    font-size: 16px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    color: var(--light-white);
    border: 1px solid var(--light-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.social-media a:hover, .works-icons:hover {
    background-color: var(--main-color);
    color: var(--light-white);
    border-color: var(--main-color);
}

.works-icons {
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    cursor: pointer;
}

#cnt-about-skills {
    font-family: 'Muli', sans-serif;
    color: var(--light-white);
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    display: block;
}

.skill-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.data-skill {
    width: 100%;
    margin-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.data-skill h4 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 15px;
}

.skill {
    width: 100%;
    padding: 2px;
    background-color: var(--light-white);
    position: relative;
}

.progress {
    position: absolute;
    height: 4px;
    background-color: var(--main-color);
    top: 0px;
    left: 0px;
    border-radius: 0px;
}

.career-portfolio-wrapper, #works-portfolio-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Muli', sans-serif;
}

#explore-more-gallery {
    position: absolute;
    bottom: -40px;
    right: 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-family: 'Josefin Sans', sans-serif;
}

#explore-more-gallery a:after {
    background-color: #fff;
    content: '';
    height: 1px;
    margin: auto 0;
    position: absolute;
    top: 0;
    bottom: 1px;
    left: -55%;
    width: 40%;
    -webkit-transition: all .6s cubic-bezier(.7,0,.3,1);
    -o-transition: all .6s cubic-bezier(.7,0,.3,1);
    transition: all .6s cubic-bezier(.7,0,.3,1);
}

#explore-more-gallery a:hover::after {
    left: 0;
    width: 100%;
}

#career-portfolio-cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.career-portfolio-wrapper {
    position: relative;
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 70px 0px 120px 0px;
}

.career-portfolio-wrapper .timeline {
    left: 0;
    width: 2px;
    background-color: var(--sliver-main);
}

.career-portfolio-wrapper .bullet::before {
    top: -5px;
    width: 30px;
    height: 30px;
    left: -15px;
    background-color: #100E18;
    border-width: 3px;  
}

#career-portfolio h4 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 2;
    position: relative;
    font-size: 24px;
}

#career-portfolio h6 {
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

#career-portfolio h4::before {
    bottom: 0%;
    width: 100%;
    height: 30%;
    content: "";
    background-color: var(--main-color);
    position: absolute;
    z-index: -1;
}

.career-portfolio-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-color: #7c52e3;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#career-portfolio-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: var(--main-color);
    -webkit-transition: all .4s cubic-bezier(0.22, 0.61, 0.39, 1.19);
    -o-transition: all .4s cubic-bezier(0.22, 0.61, 0.39, 1.19);
    transition: all .4s cubic-bezier(0.22, 0.61, 0.39, 1.19);
}

.career-portfolio-choose {
    padding: 12px 10px;
    width: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    z-index: 2;
}

.career-portfolio-choose span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-left: 8px;
}

.career-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.career-portfolio h4 {
    font-weight: 700;
}

.career-portfolio p {
    line-height: 1.7;
    font-size: 16px;
    text-align: justify;
}

.career-portfolio {
    padding-left: 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.services-info-portfolio {
    margin-top: 50px;
}

.cnt-services-info-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--white);
    padding: 30px;
    /*border: 1px solid var(--main-color);*/
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    border-radius: 0px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 100%;
}

.cnt-services-info-portfolio:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
}

.cnt-services-info-portfolio i {
    font-size: 40px;
    margin-bottom: 0px;
    border: 1px solid var(--main-color);
    height: 90px;
    background: var(--main-color);
    width: 90px;
    border-radius: 50%;
    color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

/*
.cnt-services-info-portfolio:hover i {
    background: var(--shadow-main-color);
    border: 1px solid var(--shadow-main-color);
}
*/

.cnt-services-info-portfolio i::before  {
    width: auto !important;
}

.cnt-services-info-portfolio h2 {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 900;
    margin: 20px 0px;
    color: #333;
}

.cnt-services-info-portfolio p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    text-align: center;
    color: #767676;
}

#nav-works-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.nav-works-items {
    padding-bottom: 8px;
    margin: 0 12px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    color: var(--light-white);
    border: none;
    cursor: pointer;
    border-bottom: 0px solid transparent;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.nav-works-items:hover {
    border-bottom: 2px solid var(--main-color);
}

#works-portfolio-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.active-w {
    border-bottom: 2px solid var(--main-color);
}

#works-portfolio-explame-cnt {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.works-portfolio-explame-wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 15px 0px;
    display: block;
}

.works-portfolio-explame {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    position: relative;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background-color: var(--sliver-main);
}

.works-portfolio-explame img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
}

.works-portfolio-explame:hover figcaption {
    opacity: 1;
}

.works-portfolio-explame:hover {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
            box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
}

.works-portfolio-explame:hover .shadow-img-portfolio {
    background: rgba(0, 0, 0, 0.9);
}

.works-portfolio-explame:hover figcaption h2 {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}

.works-portfolio-explame:hover .works-portfolio-icons {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}

.works-portfolio-explame figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: var(--white);
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-family: 'Nunito Sans', sans-serif;
}

.works-portfolio-explame  figcaption h2 {
    color: var(--main-color);
    font-weight: 700;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.works-portfolio-icons {
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#cnt-main-contact {
    font-family: 'Muli', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 60px 0px 50px;
}

#description-contact-portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid var(--main-color);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 10px 10px 10px;
}

#contact-info-portfolio .menu-info {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
}

#contact-info-portfolio .menu-info i {
    margin-bottom: 10px;
    font-size: 28px;
}

#contact-info-portfolio .menu-info p {
    font-weight: 700;
    font-size: 16px;
}

#contact-info-portfolio .menu-info span {
    font-size: 16px;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    width: -webkit-fill-available;
    display: block;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}

#social-media-contact-portfolio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#social-media-contact-portfolio .social-media a {
    color: var(--white);
}

#social-media-contact-portfolio .social-media {
    border: 1px solid transparent;
}

#contact-portfolio {
    z-index: 5;
    color: var(--white);
}

#contact-portfolio .row {
    padding: 0px 15px;
}

#contact-portfolio-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#contact-portfolio-wrapper img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: contrast(120%) grayscale(100%);
            filter: contrast(120%) grayscale(100%);
    position: absolute;
}

#main-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
}

.box {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

#main-data input:first-child {
    margin-right: 6px;
}

#main-data input:last-child {
    margin-left: 6px;
}

input, textarea {
	background-color: transparent;
	color: var(--form);
    border: 0px;
	border-bottom: 2px solid var(--form);
	font-size: 13px;
	outline: none;
	padding: 10px !important;
	margin: 15px 0px;
	float: left;
	height: 45px;
}

input:focus, textarea:focus {
	color: var(--form);
    border-color: var(--main-color);
}

textarea {
    padding: 10px 20px;
	height: 145px;	
}

#send
{
	width: 100%;
	height: auto;
}

#wyslij
{
    display: block;
	width: 141px;
	right: 0px;
	margin-top: 20px;
	float: right;
	border-radius: 2px;
	border: 2px solid var(--main-color);
    background-color: var(--main-color);
	text-transform: uppercase;
    color: var(--white);
    text-align: center;
    font-size: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
    text-decoration: none;
	max-width: 185px;
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#wyslij:hover
{
    background-color: transparent;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

footer {
    padding: 50px;
    padding-top: 0px;
    z-index: 100;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 300;
}

footer p {
    font-size: 13px;
    word-spacing: 2px;
    line-height: 1.6;
    margin: 0;
    color: var(--white);
    font-family: 'Muli', sans-serif;
    text-align: center;
}

footer .row {
    margin-left: 0px;
    margin-right: 0px;
}

#scrollup {
	border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 18px;
    color: var(--white);
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 13px;
    line-height: 40px;
    cursor: pointer;
    z-index: 10000;
    background: var(--main-color);
    display: none;
}

.icon-up-open::before {
    line-height: unset !important;
}

.menu-bg {
    padding-top: 13px !important;
    padding-bottom: 8px !important;
    background: #100E17 !important;
    -webkit-box-shadow: 0px 0px 18px 1px rgb(0, 0, 0.8);
            box-shadow: 0px 0px 18px 1px rgb(0, 0, 0.8);
    /*border-bottom: 1px solid #0d0a16;*/
}

.navbar-active {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
            transform: translateY(0) !important;
}

.navbar-active #nav-header-portfolio {
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
}

.mobile-header-main-title {
    display: none;
}

.hide-icon-nav {
    opacity: 0;
    visibility: hidden;
}

.active a::before {
    background-color: var(--main-color) !important;
    height: calc(80% - 20px);
}

.navbar-toggler {
    outline: none !important;
    border: 0;
    font-size: 20px;
    margin-right: -15px;
    cursor: pointer !important;
    position: relative;
    width: 45px;
    height: 45px;
}

.navbar-toggler i {
    color: var(--white);
    line-height: 1.5;
    font-size: 32px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.animate-el-hidden, .animate-el-hidden-last {
    -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.animate-el-hidden-last {
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
}

.animate-el {
    -webkit-transform: translateY(0px) !important;
        -ms-transform: translateY(0px) !important;
            transform: translateY(0px) !important;
    opacity: 1 !important;
}

#preloader, #noscript, #gallery-show-wrapper {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    background-color: #0e0c16;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: none !important;
}

#gallery-show-wrapper {
    z-index: -1;
    background-color: rgba(25, 25, 25, 0.9);
    cursor: -webkit-zoom-out !important;
    cursor: zoom-out !important;
}

#gallery-show-wrapper.show-wrapper {
    z-index: 100000;
}

.gallery-show {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.gallery-show button {
    background-color: transparent !important;
    border: none;
    color: var(--light-white);
    outline: none;
    padding: 0px;
    -webkit-transition: opacity .333s cubic-bezier(.4,0,.22,1);
    -o-transition: opacity .333s cubic-bezier(.4,0,.22,1);
    transition: opacity .333s cubic-bezier(.4,0,.22,1);
}

.gallery-show button i::before {
    font-size: 21px;
    margin: 0px;
}

.gallery-show button:hover {
    color: #FFF;
}

.gallery-photo-wrapper {
    width: auto;
    max-width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    cursor: default !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.gallery-photo-explame {
    width: auto;
    height: auto;
    z-index: 2;
    margin: 5px 0px 0px 0px;
}

.gallery-photo-cnt {
    max-height: 700px;
    cursor: pointer;
    max-width: 100%;
}

.next-gallery-photo i::before, .prev-gallery-photo i::before {
    font-size: 42px !important;
    margin: 5px !important;
}

.prev-gallery-photo {
    margin-left: 10px;
}

.next-gallery-photo {
    margin-right: 10px;
}

.dots-gallery-photo {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #FFF;
    -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.53);
            box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.53);
    margin: 10px 5px 5px 5px;
    display: none;
    cursor: pointer;
}

.dots-active {
    background-color: var(--main-color);
    -webkit-box-shadow: none;
            box-shadow: none;
}

.loader-photo {
    position: relative;
    margin: 0 auto;
    width: 90px;
    cursor: default;
}

.loader-photo:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular {
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite;
            animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: var(--main-color);
}

.hide-ele-gallery {
    visibility: hidden;
    display: none;
}

.gallery-counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 20px;
}

.gallery-counter button {
    cursor: default;
    color: #FFF;
}

#noscript {
    z-index: 100001;
    font-family: 'Roboto Mono', monospace;
}

#noscript span {
    color: var(--main-color);
}

#animation-pacman {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#pacman {
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 100;
}

#pacman::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 15px;
    background-color: var(--main-color);
    border-radius: 15px 15px 0px 0px;
    top: 0;
    -webkit-animation: pacman-top .5s infinite ease;
            animation: pacman-top .5s infinite ease;
}

#pacman::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 15px;
    background-color: var(--main-color);
    border-radius: 0px 0px 15px 15px;
    bottom: 0;
    -webkit-animation: pacman-bottom .5s infinite;
            animation: pacman-bottom .5s infinite;
}

#dots {
    position: relative;
    margin-left: 10px;
    width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-animation: pacman-dots .5s infinite;
            animation: pacman-dots .5s infinite;
}

#dots #dots-one, #dots #dots-two, #dots #dots-three, #dots #dots-four {
    width: 3px;
    height: 3px;
    background-color: var(--white);
    position: absolute;
}

#dots #dots-one {
    right: 0px;
}

#dots #dots-two {
    right: 20px;
}

#dots #dots-three {
    right: 40px;
}

#dots #dots-four {
    right: 60px;
}

#loading-text {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 16px;
}

/*Remove ad*/
#ads, #ads_bottom_static, ins, .spolecznoscinet, [name="google_osd_static_frame"], #google_shimpl, #google_esf {
    display: none !important;
}

::-webkit-input-placeholder {
  color: #b3b3b3;
  opacity: 1; /* Firefox */
}

::-moz-placeholder {
  color: #b3b3b3;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  color: #b3b3b3;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  color: #b3b3b3;
  opacity: 1; /* Firefox */
}

::placeholder {
  color: #b3b3b3;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b3b3b3;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #b3b3b3;
}