<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

Options -Indexes -MultiViews

RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]